/* ================= GENERAL ================= */

* {

    box-sizing: border-box;

}

body {

    margin: 0;
    background-color: #0a0a0a;
    color: white;
     font-family: "Cinzel", serif;

}

/* ================= HEADER ================= */


header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 30px;
    background-color: #000000;
    border-bottom: 1px solid #c9a227;
    


}

.texto-header {

    text-align: center;

}


.texto-header h1 {

    font-size: 35px;
    margin: 10px 0;
    color: #e2c669;
    transition: 0.9s;
    font-family: "Cinzel", serif;

}

.texto-header h1:hover{

    transform: scale(1.1);
}

.texto-header p {

    font-family: "Cinzel", serif;
    font-size: 22px;
    color: #e2c669;
    transition: 0.9s;

}
.texto-header p:hover{

    transform: scale(1.1);
}

header img {

    width: 350px;
    height: auto;
    transition: 0.9s;

}
header img:hover{

    transform: scale(1.1);
}


/* ================= BANNER ================= */


#banner {

    position: relative;
    width: 100%;

}


#banner img {

    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;

}



/* ================= Contenido aqui, carajo ================= */

/* PANEL ADMIN */

#panel-admin{

    display: flex;

    width: 90%;
    max-width: 1400px;
    min-height: 700px;
    margin: 50px auto;
    gap: 30px;

}



/* MENU LATERAL */

.menu-admin{

    width: 250px;
    background:#0a0a0a;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow:0 0 20px rgba(226,198,105,0.15);

}



.menu-admin h2{

    text-align: center;

    color: #e2c669;

    margin-bottom: 30px;

}



.menu-admin a{

    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 0.3s;

}



.menu-admin a:hover{

    background-color: #e2c669;
    color: black;
    transform: scale(1.05);

}



/* CONTENIDO */

.contenido-admin{

    flex: 1;
    background-color: #111;
    padding: 40px;
    box-shadow:0 0 20px rgba(226,198,105,0.15);
    border-radius: 15px;

}



.contenido-admin h2{

    color: #e2c669;
    text-align: center;
    margin-bottom: 40px;

}



/* TARJETAS */

.tarjetas{

    display: flex;
    justify-content: center;
    gap: 40px;

}



.tarjeta{

    width: 220px;
    padding: 30px;
    text-align: center;
    background-color: #000;
    border: 1px solid #e2c669;
    border-radius: 15px;
    border-bottom:4px solid #e2c669;
    transition:.3s;

}

.tarjeta:hover{

    transform:translateY(-8px);

}



.tarjeta h3{

    color: #e2c669;

    margin-bottom: 20px;

}



.tarjeta p{

    font-size: 40px;

    font-weight: bold;

    color: white;

}


/* CITAS RECIENTES */

.citas-recientes{

    margin-top: 10px;
}

.citas-recientes h2{

    color: #e2c669;
    margin-bottom: 25px;
}

.lista-citas{

    display: grid;
    grid-template-columns: repeat(2,fr);
    gap: 25px;
}

.cita-admin{

    background-color: #1a1a1a;
    padding: 25px;
    border-radius: 15px;
    border:  1px solid #e2c669;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 4);
    transition: 0.3;
}

.cita-admin:hover{

    transform:  translateY(-5px);
}

.cita-admin h3{

    color: #e2c669;
    text-align: center;
    margin-bottom: 20px;
}

.cita-admin p{

    color: white;
    margin: 10px 0;
}

.cita-admin strong{

    color: #e2c669;
}

.acciones-cita button{

    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.acciones-cita button:first-child{

    background: #e2c669;
    color: white;
    
}

.acciones-cita button:last-child{

  background: #8b0000;
  color: white;

}



/* ================= FOOTER ================= */

/* Esto hace que el scroll en HTML sea smooth */
html{

    scroll-behavior: smooth;
}
/* Esto hace que el scroll en HTML sea smooth */

footer {

    background-color: #000000;
    text-align: center;
    padding: 30px;
    border-top: 2px solid #d4af37;
    justify-content: center;

}

footer p {

    margin: 5px;
    color:  #d4af37;
    margin-bottom: 10px;

}

footer a {

    display: inline-block;
    margin: 15px;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
    color: white;
}

.fa-solid.fa-location-dot{

    color: red;
}

.fa-instagram{
    background: linear-gradient(45deg, #FEDA75, #FA7E1E, #D62976, #962FBF, #4F5BD5 );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.fa-facebook{
    color: #1877f2;
}
.fa-whatsapp{
    color: #25D366;
}

.reservar {

    background-color: #d4af37;
    color: black;
    font-weight: bold;
    transition: 0.9s;

}


.admin {

    background-color: #333;
    color: white;
    transition: 0.9s;

}

footer a:hover {

    transform: scale(1.05);

}


.lista-citas{

    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 30px !important;

}

.cita-admin{

    width: auto !important;
}


/* ================= RESPONSIVE CELULAR ================= */


@media(max-width:480px){



    /* HEADER */

    header{

        flex-direction:column;
        justify-content:center;
        gap:20px;
        padding:15px;

    }



    .texto-header h1{

        font-size:22px;

    }



    .texto-header p{

        font-size:15px;

    }



    header img{

        width:170px;

    }




    /* PANEL ADMIN */

    #panel-admin{

        flex-direction:column;
        width:95%;
        margin:20px auto;
        gap:20px;

    }




    /* MENU LATERAL */

    .menu-admin{

        width:100%;
        padding:20px 15px;

    }



    .menu-admin h2{

        font-size:22px;
        margin-bottom:20px;

    }



    .menu-admin a{

        justify-content:center;
        padding:12px;
        font-size:14px;

    }




    /* CONTENIDO */

    .contenido-admin{

        padding:20px 15px;

    }



    .contenido-admin h2{

        font-size:21px;
        margin-bottom:25px;

    }




    /* TARJETAS */

    .tarjetas{

        flex-direction:column;
        align-items:center;
        gap:20px;

    }



    .tarjeta{

        width:90%;
        padding:25px;

    }



    .tarjeta h3{

        font-size:17px;

    }



    .tarjeta p{

        font-size:35px;

    }




    /* CITAS */

    .lista-citas{

        grid-template-columns:1fr !important;
        gap:20px;

    }



    .cita-admin{

        padding:18px;

    }



    .cita-admin h3{

        font-size:18px;

    }



    .cita-admin p{

        font-size:14px;

    }




    /* BOTONES DE CITA */

    .acciones-cita{

        display:flex;
        flex-direction:column;
        gap:10px;

    }



    .acciones-cita button{

        width:100%;
        padding:10px;

    }




    /* FOOTER */

    footer{

        padding:20px;

    }



    footer a{

        display:block;
        margin:10px;

    }


}
