/* ================= GENERAL ================= */

* {

    box-sizing: border-box;

}

body {

    margin: 0;
    background-color: #0a0a0a;
    color: white;
     font-family: "Cinzel", serif;

}

/* ================= HEADER ================= */


header {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 30px;
    background-color: #000000;


}

.texto-header {

    text-align: center;

}


.texto-header h1 {

    font-size: 35px;
    margin: 10px 0;
    color: #e2c669;
    transition: 0.9s;
    font-family: "Cinzel", serif;

}

.texto-header h1:hover{

    transform: scale(1.1);
}

.texto-header p {

    font-family: "Cinzel", serif;
    font-size: 22px;
    color: #e2c669;
    transition: 0.9s;

}
.texto-header p:hover{

    transform: scale(1.1);
}

header img {

    width: 350px;
    height: auto;
    transition: 0.9s;

}
header img:hover{

    transform: scale(1.1);
}


/* ================= BANNER ================= */


#banner {

    position: relative;
    width: 100%;

}


#banner img {

    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;

}

/* ================= MENU SOBRE EL BANNER ================= */

nav {

    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;

}

nav a {

    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
    transition: 0.9s;

}

nav a:hover {

    background-color: #d4af37;
    color: black;
    transform: scale(1.1);

}

nav a.activo {
    color: #d4af37;
    font-weight: bold;
    border-bottom: 2px solid #d4af37;
}

/* ================= Contenido aqui, carajo ================= */



#contenido{

    width: 90%;
    max-width: 700px;
    margin:  50px auto;
    padding: 30px;
    background-color: #1b1b1b;
    border: 2px solid #d4af37;
    border-radius: 15px;
    font-family: "Cinzel", serif;
}

#contenido h2{

    text-align: center;
    color: #d4af37;
    margin-bottom: 30px;
}

#contenido p{

    color: #d4af37;
    text-align: center;
    margin-bottom: 30px;
    
}

#reservar{
   
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    
}

label{

    color: #d4af37;
    font-weight: bold;

}

input, select, textarea{

    padding: 5px;
    border: 2px solid#d4af37;
    border-radius: 8px;
    background: #2a2a2a;
    color: white;
    font-size: 16px;
}

textarea{

    resize: none;
    height: 100px;
}

#reservacion{

    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #d4af37;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}

#reservacion:hover{

    background: #f2cf63;
    transform: scale(1.03);
}

#citaCreada{

    margin-top: 10px;
    
}

.tarjetaCita{

    background: #2a2a2a;
    border: 2px solid #d4af37;
    border-radius: 12px;
    padding: 25px;

}

.tarjetaCita h2{

    color: #f2cf63;
}

.tarjetaCita p{

    color: white;
    margin: 10px 0;
}

.b-editar, .b-cancelar{
  
    
    margin: 5px;
    padding: 8px;
    border: none;
    border-radius: 9px;
    background: #f5f3ed;
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
    font-family: "Cinzel", serif;
}

.b-editar:hover, .b-cancelar:hover{

   background: #f2cf63;
   transform: scale(1.03);
}


/* CONSULTAR CITA */

#buscarCita{

    width: 80%;
    max-width: 700px;

    margin: 40px auto;

    background: #1d1d1d;

    border: 2px solid #d4af37;

    border-radius: 15px;

    padding: 30px;

    color: white;

    box-shadow: 0 0 15px rgba(212,175,55,.25);

}

#buscarCita h2{

    text-align: center;

    color: #d4af37;

    margin-bottom: 10px;

    font-family: "Cinzel", serif;

}

#buscarCita p{

    text-align: center;

    margin-bottom: 25px;

}

#buscarReferencia{

    width: 100%;

    padding: 12px;

    border-radius: 8px;

    border: 2px solid #d4af37;

    background: #111;

    color: white;

    font-size: 16px;

    margin-bottom: 20px;

}

#buscarReferencia:focus{

    outline: none;

    box-shadow: 0 0 10px #d4af37;

}

#buscar{

    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 8px;

    background: #d4af37;

    color: black;

    font-size: 17px;

    font-weight: bold;

    cursor: pointer;

    transition: .3s;

}

#buscar:hover{

    background: #e6c55c;

    transform: scale(1.03);

}

#resultadoBusqueda{

    margin-top: 30px;

}

/* ================= FOOTER ================= */

/* Esto hace que el scroll en HTML sea smooth */
html{

    scroll-behavior: smooth;
}
/* Esto hace que el scroll en HTML sea smooth */

footer {

    background-color: #000000;
    text-align: center;
    padding: 30px;
    border-top: 2px solid #d4af37;
    justify-content: center;

}

footer p {

    margin: 5px;
    color:  #d4af37;
    margin-bottom: 10px;

}

footer a {

    display: inline-block;
    margin: 15px;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
    color: white;
}

.fa-solid.fa-location-dot{

    color: red;
}

.fa-instagram{
    background: linear-gradient(45deg, #FEDA75, #FA7E1E, #D62976, #962FBF, #4F5BD5 );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.fa-facebook{
    color: #1877f2;
}
.fa-whatsapp{
    color: #25D366;
}

.reservar {

    background-color: #d4af37;
    color: black;
    font-weight: bold;
    transition: 0.9s;

}


.admin {

    background-color: #333;
    color: white;
    transition: 0.9s;

}

footer a:hover {

    transform: scale(1.05);

}